<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>账号列表</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/sheet.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-table.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/bootstrap-table-pagejump.css" >
</head>
<body>

<!--面包屑-->
<div class="nav">
    <a href="/index">首页</a>
    <span>&nbsp;>&nbsp;</span>
    <a href="/index">会员管理</a>
    <span>&nbsp;>&nbsp;</span>
    <a href="/index">会员账号</a>
    <span>&nbsp;>&nbsp;</span>
    <a href="/member/index">账号列表</a>
</div>

    <!--右侧内容区域-->
    <div class="main">
        <div class="gride-top">
            <div class="divClass">
                <ul style="float: left;width: auto;display: block;">
                    <li class="select-time">
                    <span><label class="labelHt labelClass">注册时间</label>
                        <input placeholder="开始日期" class="form-control layer-date shortInput" id="start">
                    </span>
                        <span class="select-timeeptw">至</span>
                        <span>
                        <input placeholder="结束日期" class="form-control layer-date shortInput" id="end">
                    </span>
                    </li>
                    <li>
                        <span><label class="labelHt labelClass">系统编号</label><input class="input longInput" placeholder="系统编号" type="text" id="userId"></span>
                    </li>
                    <li>
                        <span><label class="labelHt labelClass">姓名</label><input class="input longInput" placeholder="姓名" type="text" id="trueName"></span>
                    </li>
                    <li>
                        <span><label class="labelHt labelClass">辅导员</label><input class="input longInput" placeholder="请输入辅导员编号" type="text" id="tjuid"></span>
                    </li>
                    <li  >
                        <span><label class="labelHt labelClass">服务中心</label><input class="input longInput" placeholder="请输入服务中心编号" type="text" id="serviceCenter"></span>
                    </li>
                    <li  ><span><label class="labelHt labelClass">手机号</label><input class="input longInput" placeholder="请输入手机号" type="text" id="mobile"></span></li>
                    <li >
                        <span>
                            <label class="labelHt labelClass">是否服务中心</label>
                            <select id="isServiceCenter" class="form-control shortInput selectClass">
                                <option value="">请选择</option>
                                <!--<option th:each="item : ${serviceItems}" th:value="${item.key}" th:text="${item.value}"></option>-->
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </span>
                    </li>
                    <li  >
                        <span>
                            <label class="labelHt">会员级别</label>
                            <select id="rankId" class="form-control longInput selectClass">
                                <option value="">请选择</option>
                                <option value="10">一星会员</option>
                                <option value="20">二星会员</option>
                                <option value="30">三星会员</option>
                                <option value="40">四星会员</option>
                                <option value="50">五星会员</option>
                            </select>
                        </span>
                    </li>
                    <li >
                        <span>
                            <label class="labelHt">店铺认证</label>
                            <select id="isStoreApprove" class="form-control shortInput selectClass">
                                <option>请选择</option>
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </span>
                    </li>
                    <li  >
                        <span>
                            <label class="labelHt">实名认证</label>
                            <select id="isIdentityApprove" class="form-control shortInput selectClass">
                                <option>请选择</option>
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </span>
                    </li>
                    <li>
                        <button class="button but-line" id="search">查询</button>
                    </li>
                    <li  ></li>
                </ul>
            </div>

            <div class="button-boxline">
                <!--<button class="button but-line" id="search">查询</button>-->
            </div>
        </div>
        <div class="table">
            <table id="data_table"></table>
        </div>
    </div>
<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/js/bootstrap-table.js"></script>
<script type="text/javascript" src="/assets/laydate/laydate.js"></script>

<script type="text/javascript" src="/assets/swalalert/sweetalert.min.js"></script>
<link rel="stylesheet" href="/assets/swalalert/sweetalert.css"/>
<script type="text/javascript" src="/js/bootstrap-table-pagejump.js"></script>
<script type="text/javascript" src="/js/bootstrap-table-zh-CN.js"></script>

<script type="text/javascript">
//var regTimeStart; // 注册时间开始
//var regTimeEnd; // 注册时间结束

$(function () {
    // 日期
    laydate.render({
        elem: '#start', // 元素id，必须
        done: function(value, date, endDate) {
            regTimeStart = value; // 选择的日期
        }
    });

    laydate.render({
        elem: '#end',
        done: function(value, date, endDate) {
            regTimeEnd = value;
        }
    });
    // 异步加载表格数据
    var oTable = new TableInit();
    oTable.Init();

   /* $.getJSON("/dict/getMemberRanks", function (result) {
        var aRank = [];
        $.each(result.data, function (idx, item) {
            aRank.push('<option value="' + item.key + '">' + item.value + '</option>');
        })
        $("#rankId").append(aRank.join(""));
    })*/
});
// 列表
var TableInit = function () {
    var oTableInit = new Object();
    // 初始化Table
    oTableInit.Init = function () {
        $('#data_table').bootstrapTable({
            url: '', //请求的url
            method: 'get', //请求方式
//            toolbar: '#toolbar',  //工具按钮用哪个容器
            striped: true,   //是否显示行间隔色
            cache: false,   //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性
            pagination: true,   //是否显示分页
            paginationShowPageGo: true,
            showJumpto: true,
//            showRefresh: true,     //是否显示刷新按钮
//            showToggle:false,//是否显示 切换试图（table/card）按钮
//            sortable: true,   //是否启用排序
//            sortOrder: "asc",   //排序方式
            queryParams: oTableInit.queryParams, //传递参数
            queryParamsType: 'sss', // http://bootstrap-table.wenzhixin.net.cn/documentation/
            sidePagination: "server",  //分页方式：client客户端分页，server服务端分
            pageNumber: 1,   //初始化加载第一页，默认第一页
            pageSize: 25,  //每页的记录行数（统一为10个）
//            pageList: [3, 5, 50, 100], //可供选择的每页的行数
//            strictSearch: true,
//            minimumCountColumns:1, //当列数小于此值时，将隐藏内容列下拉框
//            clickToSelect: true,  //是否启用点击选中行
            uniqueId: "id",   //每一行的唯一标识，一般为主键列
//            cardView: false,   //是否显示详细视图
            responseHandler: function (result) { //返回数据处理
                var rows = result.data;
                return rows;
            },
            formatLoadingMessage: function () {
                return "请稍等，正在加载中...";
            },
            formatNoMatches: function () {  //没有匹配的结果
                return '请查询';
            },
            columns: [
                {field: 'id', title: 'ID', align: 'center', formatter:function (value, row, index) {
                    var pageNo = $("#data_table").bootstrapTable("getOptions").pageNumber;
                    var pageSize = $("#data_table").bootstrapTable("getOptions").pageSize;
                    return (pageNo - 1) * pageSize + index + 1;
                }},
                {field: 'userId', title: '系统编号', align: 'center'},
                {field: 'trueName', title: '姓名', align: 'center'},
                {field: 'nickName', title: '昵称', align: 'center'},
                {field: 'tjuid', title: '辅导员', align: 'center'},
                {field: 'rank', title: '会员级别',align: 'center', formatter: function (value, row, index) {
                    var ran;
                    if(value ==1){
                        ran = '一星会员';
                    }else if(value ==2){
                        ran = '二星会员';
                    }else if(value ==3){
                        ran = '三星会员';
                    }else if(value ==4){
                        ran = '四星会员';
                    }else if(value ==5){
                        ran = '五星会员';
                    }
                    return ran;
                }},
                {field: 'area', title: '地区', align: 'center'},
                {field: 'serviceCenter', title: '所属服务中心', align: 'center'},
                {field: 'isServiceCenter', visible: false},
                {field: 'isServiceCenterValue', title: '是否服务中心',align: 'center',  formatter: function (value, row, index) {
                    return value == '0' ? '否' : '是';
                }},
                {field: 'isMobileApprove', title: '手机认证', align: 'center', formatter: function (value, row, index) {
                    return value == '1' ? '是' : '否';
                }},
                {field: 'isIdentityApprove', title: '实名认证', align: 'center', formatter: function (value, row, index) {
                    return value == '1' ? '是' : '否';
                }},
                {field: 'isStoreApprove', title: '店铺认证', align: 'center', formatter: function (value, row, index) {
                    if(value == "1"){
                        return "是";
                    }else if(value == "0"){
                        return "否";
                    }else{
                        return "-";
                    }
                }},
                {field: 'regitTime', title: '注册时间', align: 'center'},
                {field: 'lastLoginTime', title: '最近登录时间', align: 'center'},
                {field: 'loginNum', title: '登录次数', align: 'center'},
                {field: 'opt', title: '操作', align: 'center', formatter: function (value, row, index) {
                    return '<a href="/member/detail/' + row.userId + '">详情</a>';
                }}
            ],
        });
    };

    // 请求参数设置
    oTableInit.queryParams = function (params) {
        var reqParam = {
            pageSize: params.pageSize, // 页面条数
            pageNumber: params.pageNumber, // 页码

            trueName: $("#trueName").val(),
            regTimeStart: $("#start").val(),
            regTimeEnd: $("#end").val(),
            userId: $("#userId").val().trim(), // 系统编号
            tjuid: $("#tjuid").val().trim(), // 推荐人编号
            serviceCenter: $("#serviceCenter").val().trim(), // 服务中心
            mobile: $("#mobile").val().trim(), // 手机号
            isServiceCenter: $("#isServiceCenter").find("option:selected").attr("value") == undefined ? "" : $("#isServiceCenter").find("option:selected").attr("value"),
            isStoreApprove: $("#isStoreApprove").find("option:selected").attr("value") == undefined ? "" : $("#isStoreApprove").find("option:selected").attr("value"),
            isIdentityApprove: $("#isIdentityApprove").find("option:selected").attr("value") == undefined ? "" : $("#isIdentityApprove").find("option:selected").attr("value"),
            rankId: $("#rankId").find("option:selected").attr("value") == undefined ? "" : $("#rankId").find("option:selected").attr("value"),
            status: $("#status").find("option:selected").attr("value") == undefined ? "" : $("#status").find("option:selected").attr("value"),
        };
        return reqParam;
    };
    return oTableInit;
};

// 查询
$("#search").on("click", function () {
    var userId=$("#userId").val();
    var tjuid = $("#tjuid").val();
    var mobile = $("#mobile").val();
    var serviceCenter = $("#serviceCenter").val();
    if (userId.length>10) {
        swal({title: "", text: "系统编号不正确", type: 'error', timer: 1000, showConfirmButton: false});
        return;
    }
    if (tjuid.length>10) {
        swal({title: "", text: "辅导员编号不正确", type: 'error', timer: 1000, showConfirmButton: false});
        return;
    }
    if(serviceCenter.length>10){
        swal({title: "", text: "服务中心编号不正确", type:'error', timer: 1000, showConfirmButton: false});
        return;
    }
    if (!(/^1[34578]\d{9}$/.test(mobile)) &&  '' != mobile.trim()) {
        swal({title: "", text: "手机号不正确", type: 'error', timer: 1000, showConfirmButton: false});
        return;
    }
    $("#data_table").bootstrapTable('refreshOptions', {url:"/member/gMembers",pageSize:25,pageNumber:1});
})

// 导出
$("#export").on("click", function () {
    var reqParam = {
        regTimeStart: regTimeStart,
        regTimeEnd: regTimeEnd,

        trueName: $("#trueName").val(),
        cardId: $("#cardId").val(),
        userId: $("#userId").val().trim(), // 系统编号
        tjuid: $("#tjuid").val().trim(), // 推荐人编号
        serviceCenter: $("#serviceCenter").val().trim(), // 服务中心
        mobile: $("#mobile").val().trim(), // 手机号
        isServiceCenter: $("#isServiceCenter").find("option:selected").attr("value") == undefined ? "" : $("#isServiceCenter").find("option:selected").attr("value"),
        isStoreApprove: $("#isStoreApprove").find("option:selected").attr("value") == undefined ? "" : $("#isStoreApprove").find("option:selected").attr("value"),
        isIdentityApprove: $("#isIdentityApprove").find("option:selected").attr("value") == undefined ? "" : $("#isIdentityApprove").find("option:selected").attr("value"),
        rankId: $("#rankId").find("option:selected").attr("value") == undefined ? "" : $("#rankId").find("option:selected").attr("value"),
        status: $("#status").find("option:selected").attr("value") == undefined ? "" : $("#status").find("option:selected").attr("value"),
    };

    var queryJSONStr = JSON.stringify(reqParam);
    $.getJSON("/export/e001", {"queryJSONStr": queryJSONStr}, function (result) {
        if(result.code == 1000) {
            swal({title: "", text: result.message, type:'success', timer: 2000, showConfirmButton: false});
        } else {
            swal({title: "", text: result.message, type:'error', timer: 2000, showConfirmButton: false});
        }
    })
})
</script>
</body>
</html>
